.container {
  /* height값을 주지 않아서 세로 중앙정렬이 먹히지 않았었음 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
